# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Zip files
*.zip

# Visual Studio run files
*.ipch
*.sln
*.log
*.tlog
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.VC.db
*.vcxproj.filters(1).txt
*.vcxproj.filters.txt
*.enc
*.doc